* {
    box-sizing: border-box;
}
.login-box {
   background: radial-gradient(circle at center, #114407 0%, #017e2a 70%);
    width: 1000px;
    padding: 40px;  
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}
body {
    margin: 10;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #2a2140 0%, #0d0b14 70%);

    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
.logo {
    display: block;
    width: 600px;
    height: 200px;
    margin: 0 auto 10px; 
    opacity: 0; 
}
.login-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid #0d0b14;
    background: radial-gradient(circle at top, #008b51 0%, #00fd9c 70%);
}
h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    margin-top: 0;
}