* {
    box-sizing: border-box;
}
.login-box {
    background-color: rgb(114,148,127);
    width: 1000px;
    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}
body {
    margin: 10;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #2a2140 0%, #0d0b14 70%);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
.logo {
    display: block;
    width: 600px;
    height: 200px;
    margin: 0 auto 10px; 
}

h1 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
}