<!DOCTYPE html>
<html>

<head>
    <title>{{ character[1] }}</title>
    <link rel="stylesheet" href="/static/main_style.css">
</head>

<body>

    <div class="character-page">

        <img class="character"
             src="{{ url_for('static', filename=character[2]) }}"
             alt="{{ character[1] }}">

        {% if character[1] == "Rem" %}

            <img class="nameChineseRem"
                 src="{{ url_for('static', filename=character[3]) }}"
                 alt="{{ character[1] }}">

            <img class="nameEnglishRem"
                 src="{{ url_for('static', filename=character[4]) }}"
                 alt="{{ character[1] }}">

        {% else %}

            <img class="nameChinese"
                 src="{{ url_for('static', filename=character[3]) }}"
                 alt="{{ character[1] }}">

            <img class="nameEnglish"
                 src="{{ url_for('static', filename=character[4]) }}"
                 alt="{{ character[1] }}">

        {% endif %}
        <a class="login-button" href="/main">Back to Characters</a>
    </div>



</body>

</html>