<!DOCTYPE html>
<html>

<head>
    <title>{{ character[1] }}</title>
    <link rel="stylesheet" href="/static/main_style.css">
</head>

<body>

    <div class="character-page">

        <img class="character"
             src="{{ url_for('static', filename=character[2]) }}"
             alt="{{ character[1] }}">

        {% if character[1] == "Rem" %}

            <img class="nameChineseRem"
                 src="{{ url_for('static', filename=character[3]) }}"
                 alt="{{ character[1] }}">

            <img class="nameEnglishRem"
                 src="{{ url_for('static', filename=character[4]) }}"
                 alt="{{ character[1] }}">

        {% else %}

            <img class="nameChinese"
                 src="{{ url_for('static', filename=character[3]) }}"
                 alt="{{ character[1] }}">

            <img class="nameEnglish"
                 src="{{ url_for('static', filename=character[4]) }}"
                 alt="{{ character[1] }}">

        {% endif %}
        <a class="login-button" href="/main">Back to Characters</a>
    </div>

<h1>Builds</h1>

{% for build in builds %}

    <div>
        <p>{{ build[3] }}</p>
        <p>{{ build[4] }}</p>
        <p>Created by: {{ build[1] }}</p>
        <a class="login-button" href="/edit_build/{{ build[0]}}"> Edit build </a>
        <form class="login-button" action="/delete_build/{{ build[0] }}" method="POST">
    <button type="submit">Delete</button>
</form>
    </div>

{% endfor %}

</body>

</html>