<!DOCTYPE html>
<html>

<head>
    <title>Create Build</title>
    <link rel="stylesheet" href="/static/login_style.css">
</head>

<body>

    <h1>Create a Build</h1>

    <form action="/create_build" method="POST">

        <label for="build_name" class='text-box'>Build Name:</label>
        <input class='labeltext-box' type="text" id="build_name" name="build_name">

        <br><br>

        <label for="description"class='text-box'>Description:</label>
        <textarea class='labeltext-box' id="description" name="description"></textarea>

        <br><br>

        <label for="character" class='text-box'>Character:</label>
        <input class='labeltext-box' type="text" id="character" name="character">

        <br><br>

        <button type="submit" class="login-button">Create Build</button>
        <a class="login-button" href="/main">Back to Characters</a>
    </form>

</body>

</html>