<!DOCTYPE html>
<html>

<head>
    <title>Edit Build</title>
    <link rel="stylesheet" href="/static/login_style.css">
</head>

<body>

    <h1>Edit Build</h1>

    <form action="/edit_build/{{ build[0] }}" method="POST">

        <label for="build_name" class='text-box'>Build Name:</label>
        <input
            class='labeltext-box'
            type="text"
            id="build_name"
            name="build_name"
            value="{{ build[3] }}"
        >

        <br><br>

        <label for="description" class='text-box'>Description:</label>

        <textarea
            class='labeltext-box'
            id="description"
            name="description"
        >{{ build[4] }}</textarea>

        <br><br>

        <button type="submit" class="login-button">Save Changes</button>
        <a class="login-button" href="/main">Back to Characters</a>
    </form>

</body>

</html>