<!DOCTYPE html>
<html>
<head>
   
    <title>Secret Mongolian deadlock builds</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="login-box"> 

    <img class="logo" src="/static/logo.png">
    
<body>
    
    <h1>Enter your username and password</h1>
    <b>user is man27 and password is password123 </b>

<form action="/login" method="POST">

<div>
    <label for="username">Username:</label>
<input type="text" id="username" name ="username" placeholder="Enter your username">
</div>

<div>
    <label for="password">Password:</label>
<input type="password" id = "password" name ="password" placeholder = "Enter your password">
</div>

<div>
     <button type="submit"> Click Me!</button>
</div>

</div>
</form>

</body>


</html>
