<!DOCTYPE html>
<html>
<head>
    <title>Secret Mongolian Deadlock Builds</title>
    <link rel="stylesheet" href="/static/main_style.css">
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
{% endwith %}
<h1>View other player's deadlock builds and create your own builds</h1>
<p>You will have 100% winrate with these 
    on everyones soul</p>


<div class= "character-list">
    <form action="/vindicta" method="GET">
        <button class="image-button" type="submit">
        <img class="character" src="/static/images/vindicta/vindictapfp.png" alt="Logo"> 
        <img class="nameChinese" src="/static/images/vindicta/vindictacn.png" alt="Logo">
        <img class="nameEnglish" src="/static/images/vindicta/vindictaeng.png" alt="Logo">
    </button>
    </form>

    <form action="/rem" method="GET">
        <button class="image-button" type="submit">
        <img class="character" src="/static/images/rem/rempfp.png" alt="Logo"> 
        <img class="nameChineseRem" src="/static/images/rem/remCn.png" alt="Logo">
        <img class="nameEnglishRem" src="/static/images/rem/remeng.png" alt="Logo">
    </button>
    </form>
</div>

<a class="login-button" href="/logout">Log Out</a>

</body>

</html>
