<!DOCTYPE html>
<html>
<head>
    <title>Secret Mongolian Deadlock Builds</title>
    <link rel="stylesheet" href="/static/main_style.css">
</head>

<body>

<h1>View other player's deadlock builds and create your own builds</h1>
<p>you will have 100% winrate with these 
    on everyones soul</p>
<div>
    <form action="/rem" method="GET">
        <button class="image-button" type="submit">
        <img class="character" src="/static/images/vindicta/vindicta.png" alt="Logo"> 
        <img class="nameChinese" src="/static/images/vindicta/vindictacn.png" alt="Logo">
        <img class="nameEnglish" src="/static/images/vindicta/vindictaeng.png" alt="Logo">
        
    </button>
    </form>
</div>
</body>

</html>
