<!DOCTYPE html>
<html>
<head>
   
    <title>Secret Mongolian deadlock builds</title>
    <link rel="stylesheet" href="/static/login_style.css">
</head>
<div class="login-box"> 

    <img class="logo" src="/static/images/logo.png">
    
<body>
    
    <h1>Create your user</h1>

<form action="/register" method="POST">


    <label for="username" class='text-box'>Username:</label>
<input class='labeltext-box' type="text" id="username" name ="username" placeholder="Create a username">



    <label for="password" class='text-box'>Password:</label>
<input class='labeltext-box' type="password" id = "password" name ="password" placeholder = "Create a password">

    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
<div class="login-buttons"> 
     <button class ="login-button" type="submit"> Create account</button>
     <a href="/" class ="login-button"> Already have an account? Log in </a>
</div>
</div>
</form>

</body>


</html>
