<!DOCTYPE html>
<html>
<head>
    <title>Secret Mongolian Deadlock Builds</title>
    <link rel="stylesheet" href="/static/main_style.css">
</head>

<body>

<h1>Sneaky Rem</h1>
<p>Steal all sinners and boxes and waves </p>
<p> First 2 items are required, add your own items after these two depending on what you want</p>

<div class="image-grid">
    <img src="/static/images/goldengoose.png">
    <img src="/static/images/ricochet.png">
</div>
<form action="/main" method="GET">
       <button type="submit"> Go back</button>
    </button>
</body>

</html>
